/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media (min-width: 1200px){
  
  .mycontainer{
    max-width: 30%;
    overflow: hidden;
  }
}
.mat-form-field-underline
{
    background-color: white !important;
}
.mat-form-field-label
{
  color: white !important;
}